
.ipynb_checkpoints


data/hotspot_2014.csv

data/hotspot_2015.csv

data/fsd.csv

data/nodub/fsd.csv

data/full_data.csv

data/hotspot_2015_power50.csv

data/rh.csv

data/rh.csv

data/ws.csv

data/wd.csv

data/ta.csv

data/precip.csv

data/hotspot.csv
